aside.sidebar 
  a.logo(href="/")
    img(srcSet="./images/logo.png 2x" alt="gocastUI")
  ul.menu   
    each item in [{text: "Home", icon: "icon-home"}, {text: "Trending", icon: "icon-chart"}, {text: "Explore Topics", icon: "icon-cube"}, {text: "Playlist", icon: "icon-play"}, {text: "Subscriptions", icon: "icon-subscriptions"}]
      +menuItem(item.text, item.icon)
  ul.menu   
    h3.menu-heading PodCasters
    each item in [{text: "Dashboard", icon: "icon-discovery"}, {text: "Episodes", icon: "icon-microphone"}, {text: "Team", icon: "icon-user"}, {text: "Subscribers", icon: "icon-add_user"}]
      +menuItem(item.text, item.icon)
  ul.menu   
    h3.menu-heading Community
    each item in [{text: "LeaderBoard", icon: "icon-star"}]
      +menuItem(item.text, item.icon)