.topBar 
  .search 
    img(src="./images/icons/icon-search.svg", alt="search")
    input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
  .topBar-right 
    .button.button-upload
      img(src="./images/icons/icon-upload.svg", alt="upload")
      span Upload
    a(href="#").topBar-action
      img(src="./images/icons/icon-message.svg", alt="message")
    a(href="#").topBar-action
      img(src="./images/icons/icon-notification.svg", alt="notification")
    a(href="#").profile
      img(src="https://images.unsplash.com/photo-1646029642262-022158ff5794?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="avatar")
